h1{
    color:red;
}

#home-card{
    text-align: center;
     
    border-color: black;
    border-style: solid;
    border:3px solid black;
}
#home-card:hover{
    background-color: blueviolet;
}
#p2{
    color: blue;
}